<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualRouterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVirtualRouterHost" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31337/VirtualRouter/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVirtualRouterHost"
                contract="VirtualRouterService.IVirtualRouterHost" name="WSHttpBinding_IVirtualRouterHost">
                <identity>
                    <userPrincipalName value="CHRISLAPTOP\Chris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <VirtualRouterClient.Properties.Settings>
            <setting name="SSID" serializeAs="String">
                <value>VirtualRouter.codeplex.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceIcons" serializeAs="String">
                <value />
            </setting>
        </VirtualRouterClient.Properties.Settings>
    </userSettings>
</configuration>